.dekstop {
  text-align: center;
}

.desktop-logo {
  height: 40vmin;
  pointer-events: none;
}

.desktop .rectangle {
  background-color: #ffb700;
  border-radius: 20px;
  filter: blur(60px);
  height: 485px;
  left: 0;
  opacity: 0.08;
  position: absolute;
  top: 20px;
  width: 515px;
}

.desktop .rectangle-2 {
  background-color: #ffffff;
  border-radius: 20px;
  height: 493px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 493px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
